{% extends 'base.html.twig' %}

{% block title %}Mode création{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1 class="display-4">Création</h1>
        <p class="lead">Sur cette page, vous retrouvez l'ensemble des quiz que vous avez créés. Vous pouvez modifier ou supprimer des quiz déjà existants, et même en créer de nouveaux!</p>
    </div>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>

            {% for quiz in quizzes %}
                <tr>
                    <th scope="row">{{ quiz.id }}</th>
                    <td>{{ quiz.title }}</td>
                    <td>{{ quiz.description }}</td>
                    <td>
                        <a href="{{ path('quiz_update_form', {id: quiz.id}) }}" class="btn btn-outline-warning">
                            Modifier
                        </a>
                    </td>
                    <td>
                        <form method="post" action="{{ path('quiz_delete', {id: quiz.id}) }}">
                            <button type="submit" class="btn btn-outline-danger">
                                Supprimer
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>

    <a href="{{ path('quiz_new_form') }}" class="btn btn-primary">
        Nouveau quiz
    </a>
{% endblock %}
